body {
    margin: auto;
    font-family: sans-serif;
    background-color:#E7FBFB;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4rem
    color #010B5B;
}
    #pic1 {
    float: right;
    }
   